$bootstrap-blue = #007bff // copied from Bootstrap4
$primary-color = #5c9fd3
$secondary-color = rgb(130, 175, 205)
$link-color = $primary-color
$link-hover-color = #0056b3 // copied from Bootstrap4
$message-background-color = #daeff5
$scrollbar-color = rgb(221, 234, 241)
$scrollbar-background-color = rgb(160, 188, 207)
$message-prompt-background-color = rgb(135, 181, 223)
